@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-error">
    <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true">
        @ViewBag.Error
    </i>
</h1>