@{
    ViewBag.Title = "Home Page";
}

    
@for (int i = 0; i < 10; i++)
{
    <div class="body">
        <div class="bodyT">
            <b>
                <p class="textT">
                    Photo title: Data not found
                </p>
                <p class="textT">
                    Manufacturer of the camera: Data not found
                </p>
                <p class="textT">
                    Model of the camera: Data not found
                </p>
                <p class="textT">
                    File size:
                </p>
                <p class="textT">
                    Date of creation of the photo: Data not found
                </p>
                <p class="textT">
                    Date of uploading of the photo: Data not found
                </p>
                </b>
        </div>
        <a href="../99.jpg" class="picture"> <img class="pictureIMG" src="../99.jpg"></a>

    </div>
}
