body {
    background-color:white;
    padding-top: 50px;
    padding-bottom: 0px;
}

/*Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

/*Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.text-error {
    color: red;
    text-align: center;
    margin-top: 16%;
    margin-bottom: 19%;
}


.picture {
    width: 256px;
    height: 144px;
    margin: 8px;
}

.pictureDownload {
    width: 0;
    height: 0;
    position: relative;
    top: -30px;
    right: 25px;
    outline: none;
    display: none;
    outline: none;
}

.pictureIMG {
    vertical-align: middle;
    width: 20%;
    height: 11%;
    max-height: 144px;
    max-width: 256px;
    min-height: 144px;
    min-width: 140px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pictureDelete {
    display: none;
    width: 0;
    height: 0;
    position: relative;
    top: -40px;
    left: 30px;
    background-color: #ff000000;
    border: none;
    outline: none;
}

.pictureIMG:hover {
    opacity: 0.4;
}

.hov:hover .pictureDownload {
    display: block;
}


.hov:hover .pictureDelete {
    display: block;
}

.body {
    background: repeating-linear-gradient(270deg, black, transparent 100%);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    max-height: 160px;
}


.bodyT {
    width: 75%;
    height: 160px;
    left: 25%;
    position: absolute;
}

.textT {
    margin: 5px 0 0;
}


.foot{
    text-align:center;
    margin:initial;
}

.htext {
    text-align: center;
    margin-top: 16%;
    margin-bottom: 19%;
}

.form-group {
    padding-top: 25px;
}

.row {
    width: 100%;
}

.example-2 .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555
}

    .example-2 .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
        color: #888;
        border-color: #888
    }

.example-2 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

  

        .example-2 .input-file + .js-labelFile .icon:before {
            content: "\f093"
        }

        .example-2 .input-file + .js-labelFile.has-file .icon:before {
            content: "\f00c";
            color: #5AAC7B
        }

#submit {
    color: black;
    text-align: center;
    background-color: white;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555
}





/*========================================================================================================================================================*/
@media (max-width:1100px) {
    
    .renderBody {
        width: 1100px;
    }
    
}

@media (max-width:950px) {
    .bodyT {
        left: 235px;
        width: 715px;
    }
}


@media (min-width:1060px) {
    .bodyT {
        left: 270.250px;
    }
}

/*==============Preview full image============*/



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    z-index: 999999;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 90px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*==============End of the full image============*/



